Raw_Data/Amazon Review Data Web Scrapping - Amazon Review Data Web Scrapping.csv
Raw_Data/amazon_review.csv
Raw_Data/Amazon_reviews_2023.csv
Raw_Data/DataSet2/All_Beauty_5.json
Raw_Data/DataSet2/AMAZON_FASHION_5.json
Raw_Data/DataSet2/Appliances_5.json
Raw_Data/DataSet2/Arts_Crafts_and_Sewing_5.json
model_data/data_set_1.csv
model_data/data_set_2.csv
model_data/data_set_3.csv
model_data/data_set_4.csv
data_prep_and_analysis/Analysis.txt
models/trainer_output/
models/embeds/GoogleNews-vectors-negative300.bin.gz
models/embeds.zip
data_prep_and_analysis/Raw_Data/DataSet2/All_Beauty_5.json
data_prep_and_analysis/Raw_Data/DataSet2/AMAZON_FASHION_5.json
data_prep_and_analysis/Raw_Data/DataSet2/Appliances_5.json
data_prep_and_analysis/Raw_Data/DataSet2/Arts_Crafts_and_Sewing_5.json
data_prep_and_analysis/Raw_Data/Amazon Review Data Web Scrapping - Amazon Review Data Web Scrapping.csv
data_prep_and_analysis/Raw_Data/amazon_review.csv
data_prep_and_analysis/Raw_Data/Amazon_reviews_2023.csv
requirements.txt
requirements.txt
models/Roberta_Predictions.csv
models/__pycache__/tuning_script.cpython-311.pyc
Scripts/__pycache__/svm_script.cpython-311.pyc
Scripts/__pycache__/tuning_script.cpython-311.pyc
Scripts/__pycache__/xg_boost_script.cpython-311.pyc
embeds/GoogleNews-vectors-negative300.bin.gz
embeds/info.txt
Scripts/__pycache__/rnn_scripts.cpython-311.pyc
