Raw_Data/Amazon Review Data Web Scrapping - Amazon Review Data Web Scrapping.csv
Raw_Data/amazon_review.csv
Raw_Data/Amazon_reviews_2023.csv
Raw_Data/DataSet2/All_Beauty_5.json
Raw_Data/DataSet2/AMAZON_FASHION_5.json
Raw_Data/DataSet2/Appliances_5.json
Raw_Data/DataSet2/Arts_Crafts_and_Sewing_5.json
model_data/data_set_1.csv
model_data/data_set_2.csv
model_data/data_set_3.csv
model_data/data_set_4.csv
